<h2 class="title text-center"><span class="underlined blue">About ASIRD</span></h2>
<div class="row ">
<div class="col-md-5 d-flex flex-column justify-content-center align-items-center padded">
  <div class="callout-logo">
    <img data-src="/images/asird-logo.png" alt="">
  </div>
  <p class="text-center" style="padding:0 20px 0 30px;">The American Society of Implant & Reconstructive Dentistry <a href="http://www.asird.org/" target="_blank">(ASIRD)</a> is a nationwide not-for-profit association dedicated to educating consumers on the value of dental implants and the importance of choosing an experienced surgeon and dentist team recognized for having a collaborative relationship to ensure optimal results. These teams work together throughout the process and are committed to providing customized, patient-specific, long-term solutions for your dental implant needs.</p>
</div>
<div class="col-md-7">
    <div class="callout-img" style="height: 100%; background: url('/images/guy-in-chair.jpeg') center center / cover no-repeat; min-height: 350px;"></div>
</div>
</div>
