<script type="text/javascript" src="/js/map.js"></script>
<link rel="stylesheet" type="text/css" href="/css/components/map.css"/>

{% if site.bowtietheme.contact.latlng %}
<div id="map" data-coords="{{site.bowtietheme.contact.latlng}}">
  <a href="#map"></a>
  <div class="company-location">
    <p>{{ site.bowtietheme.contact.address }}</p>
    <p>{{ site.bowtietheme.contact.city }}, {{ site.bowtietheme.contact.state }} {{ site.bowtietheme.contact.zip }}</p>
  </div>
  <div id="map-canvas"></div>
</div>
{% endif %}



<script type="text/javascript" src="/js/map.js"></script>
<link rel="stylesheet" type="text/css" href="/css/components/map.css"/>

{% if site.bowtietheme.contact.latlng %}
<div id="map" data-coords="{{site.bowtietheme.contact.latlng}}">
  <a href="#map"></a>
  <div class="company-location">
    <h5>Hello {{site.bowtietheme.contact.company}}</h5>
    <p>{{ site.bowtietheme.contact.city }}, {{ site.bowtietheme.contact.state }} {{ site.bowtietheme.contact.country }}</p>
  </div>
  <div id="map-canvas"></div>
</div>
{% endif %}
