<ul class="navbar-nav">
  <li class="nav-item dropdown">
    <a class="nav-link page-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      About Us
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/team/">Our Office</a>
      <a class="dropdown-item" href="/reviews/">Reviews</a>
      <!-- <a class="dropdown-item" href="/recognition/">Recognition</a> -->
      <a class="dropdown-item" href="/technology/">Technology</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link page-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Procedures
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/gallery/">Before and After</a>
      <a class="dropdown-item" href="/procedures/">Procedures</a>
      <!-- <a class="dropdown-item" href="/procedures/preventative/">Preventative Care</a>
      <a class="dropdown-item" href="/procedures/cosmetic/">Cosmetic Dentistry</a>
      <a class="dropdown-item" href="/procedures/restorative/">Restorative Dentistry</a>
      <a class="dropdown-item" href="/procedures/imaging/">Imaging</a>
      <a class="dropdown-item" href="/procedures/other-procedures/">Other Procedures</a> -->
    </div>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link page-link" href="/why-asird/">Why ASIRD</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link page-link" href="/contact/">Contact</a>
  </li>
  <li class="nav-item nav-btn">
    <a href="/contact/"><button type="button" class="request-button light small">Request an Appointment</button></a>
  </li>
  <li class="nav-item nav-btn">
      <img src="/images/award-logo.png" height="60" />
  </li>
</ul>
