{% if include.email %}{% assign formEmail = include.email %}{% else %}{% assign formEmail = site.email %}{% endif %}
<form action="//formspree.io/{{ formEmail }}" method="POST" class="text-left">
  <div class='form-group'>
    <div class="input">
      <input aria-required="true" class="string text form-control" id="twitter" maxlength="255" name="Name" placeholder="Your Name" size="255" type="text" required/>
    </div>
  </div>

  <div class='form-group'>
    <div class="input">
      <input aria-required="true" class="string text form-control" maxlength="255" name="Email" id="user_email" placeholder="Your Email Address" size="255" type="text" required/>
    </div>
  </div>
  <div class='form-group'>
    <div class="input">
      <input aria-required="true" class="string text form-control" maxlength="255" name="Phone" id="user_phone" placeholder="Your Phone Number" size="255" type="text" required/>
    </div>
  </div>
  <div class='form-group'>
    <div class="field-box">
      <textarea class="form-control" id="profile_message" name="Message" rows="4" placeholder="Message" required></textarea>
    </div>
  </div>

  <div class='form-actions text-center'>
    <input id="Submit" class=" pull-left request-button" name="Submit" type="submit" value="Send" />
    <input type="hidden" name="_next" value="{{ site.url }}" />
  </div>
</form>
