<div class="row d-flex align-items-top">
<div class="col-2">
<i class="fas fa-map-marker-alt fa-2x text-white"></i>
</div>
<div class="col-6" style="margin-bottom:2em;">
  <div class="text-left text-white">
    <span>
      <strong>Address</strong>
      <br/>
      {{ site.doctor.contact.address }}<br/>
      {{ site.doctor.contact.city }}, {{ site.doctor.contact.state }} {{ site.doctor.contact.zip }}<br/>
      {% if site.doctor.contact.phone %} {{ site.doctor.contact.phone }} {% endif %}
    </span>
    <br/><br/>
    <span>
      <strong class="text-white">Email</strong>
      <br/>
      <a class="text-white" href="mailto:{{ site.email }}">{{ site.email }}</a>
    </span>
  </div>
</div>
</div>
<div class="row d-flex align-items-center">
<div class="col-2">
<i class="fas fa-phone fa-2x text-white"></i>
</div>
<div class="col-6">
  <div class="text-left text-white">
      {% if site.doctor.contact.phone %} {{ site.doctor.contact.phone }} {% endif %}
  </div>
</div>
</div>
