<div class="row row-80 d-flex align-items-center">
  <div class="col-md-3">
    <div class="img-fluid">
      <img data-src="/img/asird-logo.png" alt="">
    </div>
  </div>

  <div class="col-md-9 text-left">
    <h5>American Society of Implant and Reconstructive Dentistry</h5>
    <p>{% if site.doctor.name-2 %}{{site.doctor.name-1}} and {{site .doctor.name-2}} are members of{% else %}{{site.doctor.name}} is a member of{% endif %} the American Society of Implant and Reconstructive Dentistry <a href="http://www.asird.org/" target="_blank">(ASIRD)</a>. ASIRD is committed to improving the quality of care for dental implant patients by elevating the standards of surgical and restorative dental education and practice. Not every dentist routinely restores and maintains dental implants and not all placers of dental implants are surgeons. By using an ASIRD team, rest assured that your dentist routinely restores and maintains dental implants and only a trained surgeon will place your implant.</p>
  </div>
  <br />
  <div class="col-md-7 text-center">
    <h5>Voted Best Prosthodontists in Columbus Monthly!</h5>
  </div>
  <div class="col-md-5">
    <div class="img-fluid">
      <a href="images\Spectrum-ColumbusMonthly.pdf" target="_blank"><img data-src="/images\Capture.PNG" alt=""></a>
    </div>
  </div>
  <br />
  <div class="col-12 text-center" style="margin: 2em 0;">
    <h5>Dr. Purcell has been repeatedly selected by his peers to “Columbus Best Dentists” and “America’s Best Dentists."</h5>
  </div>
</div>
