<h2 class="title text-center"><span class="underlined">Recognition</span></h2>
<div class="row d-flex align-items-center" style="margin-bottom: 1.5em;">
  <div class="col-sm-2">
    <div class="img-fluid">
      <img data-src="http://via.placeholder.com/350x350" alt="">
    </div>
    <br />
  </div>
  <div class="col-sm-10 text-left">
    <p>ASIRD is committed to improving the quality of care for dental implant patients by elevating the standards of surgical and restorative dental education and practice. Not every dentist routinely restores and maintains dental implants and not all placers of dental implants are surgeons. By using an ASIRD team, rest assured that your dentist routinely restores and maintains dental implants and only a trained surgeon will place your implant.</p>
  </div>
  <br />
</div>
<div class="row d-flex align-items-center">
  <div class="col-sm-2">
    <div class="img-fluid">
      <img data-src="http://via.placeholder.com/350x350" alt="">
    </div>
    <br />
  </div>
  <div class="col-sm-10 text-left">
    <p>ASIRD is committed to improving the quality of care for dental implant patients by elevating the standards of surgical and restorative dental education and practice. Not every dentist routinely restores and maintains dental implants and not all placers of dental implants are surgeons. By using an ASIRD team, rest assured that your dentist routinely restores and maintains dental implants and only a trained surgeon will place your implant.</p>
  </div>
  <br />
</div>
