<div class="row d-flex justify-content-center">
  <div class="col-sm-4">
    <div class="image-wrapper" style='margin-bottom:2em;'>
      <img data-src="/images\asird-logo.png" alt="">
    </div>
  </div>
  <hr />
  <div class="col-sm-8">
  <h4><strong>How to choose a General Dentist</strong></h4>
  <p>Chances are you already have a dentist and are perfectly happy. However, when it comes to dental implants, it is important that you find out whether he or she is proficient in the restorative dentistry skills that are required. If your dentist is not an ASIRD member, be sure to ask how many dental implant cases he/she completed last year. Ask about the surgeon that will be placing your implant. Do they collaborate together as a team? Or are you simply being referred to the surgeon for the implant placement and then directed back to your dentist to finish the restoration?</p>
  </div>
</div>
<hr />
<div class="row d-flex justify-content-center">
  <div class="col-sm-8">
  <h4><strong>How to choose a Dental Implant Surgeon</strong></h4>
  <p>Dental implant surgery is of course surgery and is best performed by a trained surgeon. It’s easy if your dentist is already an ASIRD member. Just make sure to ask that he/she refer you to an ASIRD member surgeon.</p>
  </div>
</div>
<hr />
<div class="row d-flex justify-content-center">
  <div class="col-sm-8">
  <h4><strong>Choosing the right dentist and oral surgeon: Why use an ASIRD team?</strong></h4>
  <p>Quality surgical and restorative patient care is the core principle of the American Society of Implant & Reconstructive Dentistry. Choosing the right dentist and oral surgeon team is important for patients.</p>
  <p>ASIRD was organized for the primary purpose of improving the quality of care for dental implant patients by elevating the standards of surgical and restorative dental education and practice, and by educating consumers on the benefits of dental implants, and the importance of choosing a qualified dental team.</p>
  </div>
</div>
