<h2 class="title text-center"><span class="underlined blue">Patient Intake Forms and Documents</span></h2>
<div class="row d-flex justify-content-center">
  <div class="row d-flex align-items-center">
    {% assign documents = site.patient-docs %}
    {% for doc in documents %}

    {% if doc.document_path %}
    <div class="col-12" style="margin: 2em 0 2em;">
      <div class="row d-flex align-items-center">
        <div class="col-3">
          <a href="{{doc.document_path}}" target="_blank" alt="download file"><img src="/img/pdf-icon.png" alt="PDF icon"></a>
        </div>
        <div class="col-9">
          <p><strong>{{doc.title}}</strong></p>
          <p>{{doc.intro_content}}</p>
          <a href="{{doc.document_path}}" target="_blank" alt="download file">DOWNLOAD</a>
        </div>
      </div>
    </div>
    {% endif %}

    {% endfor %}
  </div>
  <!-- <hr />
  <img src="/img/family-2.jpg" style='max-height: 250px;' class='img' alt="patient"/> -->
</div>
