<div id="gallery">
  <h2 class="title text-center"><span class="underlined blue">Smile Makeovers</span></h2>
  {% assign makeover_images = site.smile_makeover %}
  <div class="row">
  <p class="text-center"><strong>Smile Makeovers not only enhance the mouth but your appearance. Your new smile will be designed in a style that fits your face and looks natural. Let us help you achieve the smile you’ve always dreamed of!</strong></p>
  {% for image in makeover_images %}
    <div class="col-sm-6 col-md-4 gallery-image text-center">
      <div class="img-fluid">
        <img data-src="{{ image.img_path }}" alt="Procedure image {{forloop.index}}">
      </div>
      <p><strong>{{image.procedure-name}}</strong></p>
      <p>{{image.description}}</p>
    </div>
  {% endfor %}
  </div>
  <h2 class="title text-center"><span class="underlined blue">Teeth In a Day</span></h2>

  {% assign implant_images = site.teeth_in_a_day %}
  <div class="row">
  <p class="text-center"><strong>Teeth in a Day are perfect for individuals with stained, chipped, crooked, missing or spaced teeth. Teeth in a Day will last for years and can be done in a couple visits. Let us help you gain confidence in your smile today!</strong></p>
  {% for image in implant_images %}
    <div class="col-sm-6 col-md-4 gallery-image text-center">
      <div class="img-fluid">
        <img data-src="{{ image.img_path }}" alt="Procedure image {{forloop.index}}">
      </div>
      <p><strong>{{image.procedure-name}}</strong></p>
      <p>{{image.description_content}}</p>
    </div>
  {% endfor %}
  </div>
</div>
