<div class="row d-flex align-items-top" style="margin-top: 2em;">
<div class="col-2">
<i class="far fa-clock fa-2x text-white"></i>
</div>
<div class="col-10">
<ul class="office-hours">
  <li class="weekday">Monday<span class="hours">08:00AM - 05:00PM</span></li>
  <li class="weekday">Tuesday<span class="hours">08:00AM - 05:00PM</span></li>
  <li class="weekday">Wednesday<span class="hours">08:00AM - 05:00PM</span></li>
  <li class="weekday">Thursday<span class="hours">08:00AM - 05:00PM</span></li>
  <li class="weekday">Friday<span class="hours">08:00AM - 01:00PM</span></li>
  <li class="weekday">Saturday<span class="hours">CLOSED</span></li>
  <li class="weekday">Sunday<span class="hours">CLOSED</span></li>
</ul>
</div>
</div>
