<!DOCTYPE html>
{% include head.html %}
<body>
  <div id="wrapper" class="">
    <div id="main">
        {% include header.html %}
      <div class="{{page.layout}}">
        <section class="dark text-center">
          <div class="container">
              <div class="section-header">
                <div class="header-wrapper">
                  <div class="text-wrapper">
                    <h5>{{page.category | capitalize}}</h5>
                    <h1 class="title">{{page.title}}</h1>
                    <h4>Offered by {{site.doctor.contact.company}}</h4>
                    {% include elements/breadcrumbs.html context= page.url %}
                  </div>
                </div>
              </div>
          </div>
        </section>
        <section class="container">
          <div class="row d-flex align-items-center">
            <div class="col-sm-5">
              <div class="image-wrapper">
                <img data-src="{{page.img_path }}" alt="">
              </div>
            </div>
            <div class="text-left col-sm-7">
              <p class="text-left">{{content}}</p>
            </div>
          </div>
        </section>
        <section class="alt">
          <div class="container">
            {% include contact.html %}
          </div>
        </section>
        <!-- <section class="full-width">
          {% include asird-callout.html %}
        </section> -->
      </div>
    </div>
  </div>
  {% include footer.html %}
  {% include tracking.html %}
</body>
